/** GENERAL STYLE RULES **/

*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

h1 {
  font-weight: 300;
  margin-bottom: 1em;
}

.groups-contact-div h1 {
  margin-top: 1em;
  margin-left: .7em;
  margin-bottom: .2em;
}

.groups-contact-div h2 {
  margin-left: 2em;
  margin-bottom: .6em;
  font-weight: 300;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

.footer-link {
  width: 100%;
  text-align: center;
}

footer {
  background-color: whitesmoke;
  width: 100%;
  padding: 1.5em 0 1em;
  height: 1.5em;
}

footer div.copyright{
  text-align: center;
  font-size: 1em;
}

.clearfix {
  clear: both;
}
/** GENERAL STYLE RULES END **/


/** INDEX PAGE STYLING **/

/* Header Navigation */
.container-fixed-header {
  position: fixed;
  height: 4.2em;
  width: 100%;
  padding: 0 1em .8em 1em;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 65% 35%;
  top: 0;
}

.logo-elements {
  margin-top: 1.1em;
  margin-left: .2em;
}

.logo-elements p{
  display: inline-block;
  margin-left: .2em;
  transform: translateY(-30%);
  font-size: 1.5em;
  color: dodgerblue;
}

.navbar-list-items {
  display: inline-block;
  top: 0;
  min-height: 5em;
}

.navbar-list a:hover {
  color: #4c9cdc;
}

.navbar-list a {
  color: black;
}

.navbar-list-items p {
  font-size: 1em;
  text-transform: uppercase;
  padding: 1.8em 1.3em 0 1.3em;
}

.navbar-list a:nth-of-type(3) li {
  background-color: #4c9cdc;
}

.navbar-mobile-icon {
  font-size: 1.7em;
  margin: .75em 0 0 4.5em;
  color: #4c9cdc;
  display: none;
}

.navbar-list a:nth-child(3) p {
  color: white;
}

.mobile-nav-div {
  display: none;
}

.mobile-navbar-list {
  background: whitesmoke;
}

.mobile-navbar-list a {
  padding: .5em .1em .5em 1em;
  text-decoration: none;
  font-size: 1.1em;
  color: black;
  display: block;
  transition: 0.3s;
}

.mobile-navbar-list a:hover {
  color: #4c9cdc;
}

.mobile-navbar-list .closebtn {
  position: absolute;
  top: 0;
  right: 4em;
  font-size: 2em;
  margin-left: 2em;
}

/* Main Content */
.main-content {
  width: 100%;
  margin-top: 5em;
}

.main-content > header {
  background-image: url('../images/computer-3368242_1920.jpg');
  height: 100%vh;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 40% 60%;
}

.main-content-statement {
  margin: 9em 0 0 2em;
  color: white;
}

.main-content-statement h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.create-account {
  background-color: #4c9cdc;
  height: 5em;
  margin-bottom: 5em;
  width: fit-content;
}

.create-account p {
  font-size: 1em;
  padding: 1.8em;
  text-transform: uppercase;
  color: white;
}

/* Features Styling */
.features-intro {
  width: 50%;
  margin: 8em auto 5em;
  text-align: center;
}

.features-intro h1 {
  font-size: 2.7em;
}

.features-intro p {
  margin: 0 3em;
}

.feature-illustration {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-gap: 3.5%;
  margin: 0 3.5% 5em;
  
}

.feature-illustration-details {
  border: .04em solid grey;
  border-radius: .7em .7em .3em .3em;
  text-align: center;
  padding-bottom: 1em;
}

.feature-illustration-details img {
  width: 99.8%;
  height: 13em;
  border-radius: .7em .7em 0 0;
  margin-bottom: 1.2em;
}

.feature-illustration-details p.title {
  font-size: 1.5em;
}

.feature-illustration-details p.details {
  padding: 1em 1.5em;
}
/** Index Page styling ends **/

/** Sign Up Page styling **/

/* Form Styling */
.form-container {
  width: 60%;
  margin: 5em auto;
  height: 100vh;
}

.form-div {
  width: 65%;
  margin: 8.5em auto 0;
  border: .05em solid lightgray;
  border-radius: .5em;
  padding: 2em;
}

.full-form-elements input[type="text"],
.full-form-elements input[type="password"],
.full-form-elements textarea {
  width: 91%;
}

.double-form-elements {
  display: grid;
}

.text {
  grid-template-columns: 50% 50%;
}

.password {
  grid-template-columns: 40% 40% 20%;
}

.show {
  display: inline-block;
  margin-top: 1.3em;
  color: #4c9cdc;
  font-weight: 500;
}

.form-element input[type="text"],
.form-element input[type="password"],
.form-element textarea {
  margin: 1em 1em 1em 0;
  border: .05em solid lightgrey;
  border-radius: .3em;
  padding: .5em 1em;
}
.form-element input[type="text"],
.form-element input[type="password"] {
  height: 1.6em;  
}

select {
  width: 97%;
  height: 2.75em;
  padding: .5em 1em;
  margin: 1em 1em 1em 0;
  border-radius: .3em;
  border: .05em solid lightgrey;
}

.button, .admin-button {
  height: 3em;
  color: white;
  background: #1a73e8;
  width: fit-content;
  height: fit-content;
  padding: .7em 1.3em;
  border-radius: .3em;
  margin-top: 1.7em;
  cursor: pointer;
}

.form-bottom-links, .admin-form-bottom-links {
  display: grid;
  grid-template-columns: 50% 50%;
}

.submit-link {
  justify-self: end;
}

.save-link {
  justify-self: start;
}

.signin-link a {
  display: inline-block;
  color: #4c9cdc;
  margin-top: 2.5em;
  font-size: .99em;
  justify-self: start;
}

.form-image img {
  width: 100%;
  height: 50vh;
  margin-left: 1em
}

.signup-footer,
.admin-signup-footer {
  margin: 1em auto;
  font-size: .8em;
}

.admin-signup-footer {
  width: 80%;
}

.signup-footer {
  width: 60%;
}
/** Sign Up Page styling ends **/

/** Inbox Page Styling **/

/* Inbox Content Area */
.inbox {
  height: 100vh;
  padding-bottom: 2em;
  background-image: url('../images/beach-bench-boardwalk-462024.jpg');
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 79%;
  padding-top: 6em;
}

.inbox-main-content {
  background-color: white;
  color: black;
}


/* EMail Serach field */
.search {
  width: 70%;
  margin-bottom: 1em;
  height: .9em;
  padding: .7em 1.2em .7em 1.2em;
  border-radius: .3em;
  border: none;
  opacity: .5;
  font-size: 1.3em;
  font-weight: 500;
}

.search:focus {
  opacity: 1;
}

/* Inbox Side navigation */
.inbox-sidebar-nav {
  margin: 5.5em 1.5em 5.5em 0;
}

.inbox-sidebar-nav a {
  color: white
}

.icon {
  display: inline-block;
  margin: 0 1.5em;
}

.inbox-menu-items {
  padding: .4em 0;
  margin-bottom: .15em;
}

.inbox-active {
  background-color: rgba(255, 255, 255, .5);
  border-radius: .1em 2em 2em .1em;
}

.inbox-menu-items:hover {
  background-color: rgba(255, 255, 255, .3);
  border-radius: .1em 2em 2em .1em;
}

.number-of-mails {
  margin-left: 47%;
}

/* EMail Display Section */
.emails-div table, .groups-contact-div table {
  width: 100%;
}

.mail-box {
  height: 90vh;
  overflow-y: scroll;
}

tr.data, tr.groups {
  border-bottom: 1px solid gray;
}

tr.data:hover, tr.groups:hover {
  box-shadow: 0 .15em .4em gray;
  cursor: pointer;
}

tr.data td:nth-of-type(1) {
  width: 20%;
}

tr.data td:nth-of-type(2) {
  min-width: 70%;
}

tr.data td:nth-of-type(3) {
  min-width: 10%;
}

tr.groups td:nth-of-type(1) {
  width: 10%;
}

tr.groups td:nth-of-type(2) {
  width: 50%;
}

tr.groups td:nth-of-type(3) {
  width: 30%;
}

tr.groups td:nth-of-type(4) {
  width: 10%;
}

td {
  padding: .6em .8em;
  font-weight: 700;
}

#sent-mail {
  display: none;
}

#drafts-mail {
  display: none;
}


/* Mail Message View */
.email-sections {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
}

.email-sections span {
  display: inline-block;
  margin-bottom: .5em;
  padding: .8em 1em .8em 1em;
  font-weight: 500;
  font-size: 1.1em;
}

.email-section-active {
  border-bottom: .18em solid #4c9cdc;
}

.nav-icon {
  margin-right: .5em;
  font-size: 1.5em;
}

.email-sections span:hover {
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
}

/* Individual Mail Message */
.sender-name input[type='checkbox'] {
  transform: scale(1.5);
  margin-right: 1em;
  cursor: pointer;
}

.statement {
  font-weight: 400;
}

.mail-icons {
  margin-left: .7em;
}

.mail-icons:hover {
  color: #4c9cdc;
}

/* View Mail Page */
.sender-name {
  font-weight: 700;
  font-size: .95em;
}

.read-mail h1 {
  font-weight: 400;
  font-size: 1.9em
}

.read-mail {
  padding: 1.5em 2.5em 6em 3em;
}

.sender-and-time {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 1.2em;
  margin-top: 1em;
}

hr {
  border: .03em solid grey;
  opacity: .1;
}

.sender-mail, .receipient-mail, .time {
  font-size: small;
  font-weight: 400;
}

.message {
  margin-top: .7em;
}

.message p{
  margin-bottom: 1em ;
  margin-right: 2em;
  font-size: .94em;
}

.reply-buttons-item{
  display: inline-block;
  margin: .7em .7em .2em .7em;
  border: 1px solid dodgerblue;
  border-radius: .4em;
  color: dodgerblue;
  width: 5em;
  padding: .6em;
  text-align: center;
}

.reply-buttons-item:hover {
  background-color: rgb(30, 144, 255, .7);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

/* Compose Message Element */
.compose-mail {
  background-color: white;
  z-index: 100;
  position: fixed;
  width: 38%;
  height: 70vh;
  top: 30%;
  left: 60%;
  opacity: 0;
  visibility: hidden;
  display: grid;
  grid-template-rows: 8% 92%;
}

.compose-mail:target {
  opacity: 1;
  visibility: visible;
}

.compose-buttons {
  padding: .5em 1em;
}

.compose-buttons  span{
  margin-right: .5em;
}

.compose-mail .compose-header {
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

.compose-header {
  padding: .55em .9em;
}

.compose-mail-body {
  display: grid;
  grid-template-rows: 15% 70% 10%;
}

.compose-mail input[type="text"],
.compose-mail textarea {
  border: none;
  width: 97%;
  margin: .8em 1em;;
}

.compose-mail textarea {
  font-size: 1.1em;
  resize: none;
  overflow: auto;
  height: 90%;
}

.compose-close {
  color: grey;
  font-size: 1.55em;
  position: absolute;
  top: .03em;
  right: .5em;
}

.compose-minimize {
  color: grey;
  font-size: 1.55em;
  position: absolute;
  top: .03em;
  right: 2em;
}

.compose-mail input:focus,
.compose-mail textarea:focus {
  outline: none !important;
}
/** Inbox Page Styling ends **/

/** Sign in Page **/
.login-form-div {
  width: 50%;
  margin: 10.4em auto 0;
  border: .05em solid lightgray;
  border-radius: .5em;
  padding: 2em;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 1.5em;
}

.admin-form-div {
  width: 80%;
  margin: 2em auto 0;
  border: .05em solid lightgray;
  border-radius: .5em;
  padding: 5em;
}

.admin-form-container {
  width: 60%;
  margin: 1em auto;
}

.new-group {
  display: grid;
  grid-template-rows: 100%;
}

.create-new-group {
  justify-self: end;
  margin-right: .7em;
  margin-bottom: .7em;
}

.login-form-title {
  text-align: center;
}

.login-password-show {
  float: right;
  margin-right: .5em;
  color: #4c9cdc;
  font-weight: 500;
}

.login-password-forgot {
  float: left;
  margin-right: .5em;
  color: #4c9cdc;
  font-weight: 500;
}
/** Sign in Page ends **/


/** Media queries **/
@media (min-width : 320px) and (max-width: 480px) {
  .navbar-list {
    display: none;
  }
  
  .logo-elements {
    margin-top: .8em;
  }
  
  .navbar-mobile-icon {
    display: inline-block;
  }
  
  .container-fixed-header {
    height: 4.1em;
    padding: 0 1em .8em .2em;
    grid-template-columns: 50% 50%;
  }
  
  .logo img {
    width: 42px;
    height: 31px;
  }
  
  .logo-elements {
    margin-top: 1.5em;
  }
  
  .logo-elements p{
    font-size: 1.25em;
  }
  
  .main-content > header {
    background-image: url('../images/computer-3368242_1920.jpg');
    height: 27em;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: grid;
    grid-template-columns: 80% 20%;
  }
  
  .main-content-statement {
    margin: 5.5em 0 0 2em;
    color: white;
  }
  
  .main-content-statement h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .create-account {
    background-color: #4c9cdc;
    height: 3em;
    width: fit-content;
  }
   
  .create-account p {
    font-size: .9em;
    padding: 1em;
  }
  
  .features-intro {
    width: 90%;
    margin: 5em auto 3.5em;
  }
  
  .features-intro p {
    margin: 0 1em;
  }
  
  .feature-illustration {
    display: grid;
    grid-template-columns: 95%;
    margin-bottom: 1em;
  }
  
  .feature-illustration-details img {
    height: 15em;
  }
  
  .feature-illustration-details {
    margin: 0 0 2em 1.4em;
  }
  /** INDEX PAGE ENDS HERE **/
  
  /** RESET PASSWORD PAGE **/
  
  .form-container {
    width: 80%;
    margin: 5em 4em 5em 1em;
  }
  
  .login-form-div {
    width: 90%;
    padding: 2em 2em 2em 1.2em;
  }
  
  .form-div {
    width: 93%;
    padding: 2em 2em 2em 1em;
  }
  
  .form-title {
    text-align: center;
  }
  
  /** PASSWORD-RESET PAGE ENDS HERE **/
  
  /** VIEW MAIL STARTS **/
  
  .inbox {
    display: grid;
    grid-template-columns: 5% 85%;
    grid-gap: 10%;
    background-size: cover;
    padding-top: 6em;
  }
  
  tr.data td:nth-of-type(1), tr.data td:nth-of-type(2) {
    display: block;
    width: 80%;
    margin-left: .8em;
  }
  
  tr.data td:nth-of-type(1) {
    margin-top: 1.2em;
    margin-bottom: .05em;
  }
  
  tr.data td:nth-of-type(3) {
    font-size: .75em;
    width: 20%;
  }
  
  td {
    font-size: .95em;
    padding: 0 .4em;
  }
  
  .read-mail h1 {
    font-weight: 400;
    font-size: 1.5em
  }
  .search {
    width: 80%;
    margin-left: 0;
  }
  
  .read-mail {
    padding: 1.5em 1em 2em 1.5em;
  }
  
  .message p{
    margin-right: .5em;
  }
  
  .reply-buttons-item {
    margin: .3em;
  }
  
  .number-of-mails {
    display: none;
  }
  
  .icon-text {
    display: none;
  }
  
  .icon {
    display: inline-block;
    font-size: 1.7em;
    margin: 0 .5em 0em .4em;
  }
  
  .inbox-sidebar-nav {
    margin: 4em 5em 5.5em 0;
  }
  
  .inbox-menu-items {
    padding-right: 4.5em;
  }
  
  .inbox-active, .inbox-menu-items:hover {
    border-radius: 10em;
  }
  
  .compose-mail {
    left: 16%;
    width: 82%;
  }
  
  .compose-mail-body {
    grid-template-rows: 15% 72% 13%;
  }
  
  .email-sections {
    display: none;
  }
  
  .sender-checkbox {
    display: none;
  }
  
  .admin-form-div {
    width: 90%;
    padding: 1em 1em 1em .5em;
  }
  
  .admin-form-container {
    width: 90%;
  }
  
  .signup-footer, .admin-signup-footer {
    width: 100%;
  }
  
  .admin-button {
    padding: .7em .7em;
  }
  
  .admin-form-bottom-links {
    display: grid;
    grid-template-columns: 0 100%;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  .container-fixed-header {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  
  .logo img {
    width: 42px;
    height: 31px;
  }
  
  .logo-elements {
    margin-top: 1.5em;
  }
  
  .logo-elements p{
    font-size: 1.25em;
  }
  
  .navbar-list-items p {
    font-size: .9em;
    padding: 2.2em .8em 0 .2em;
  }
  
  .main-content > header {
    background-image: url('../images/computer-3368242_1920.jpg');
    height: 35em;
    background-position-x: center;
    background-position-y: center;
    display: grid;
    grid-template-columns: 75% 25%;
  }
 
  .main-content-statement {
    margin-top: 2.5em;
  }
  
  .sender-checkbox {
    display: none;
  }
  
  .inbox {
    display: grid;
    height: fit-content;
    grid-template-columns: 5% 90%;
    grid-gap: 5%;
    background-size: cover;
  }
  
  .mail-icons {
    margin-left: .5em;
  }
  
  tr.data td:nth-of-type(1) {
    width: 20%;
  }
  
  tr.data td:nth-of-type(2) {
    width: 65%;
  }
  
  tr.data td:nth-of-type(3) {
    width: 15%;
  }
  
  .number-of-mails {
    display: none;
  }
  
  .icon-text {
    display: none;
  }
  
  .icon {
    display: inline-block;
    font-size: 1.7em;
    margin: 0 .5em 0em .4em;
  }
  
  .inbox-sidebar-nav {
    margin: 4em 5em 5.5em 0;
  }
  
  .inbox-menu-items {
    padding-right: 4.5em;
  }
  
  .compose-mail {
    left: 27%;
    width: 70%;
  }
  
  .read-mail {
    padding: 1.5em 1.5em 2em 2em;
  }
  
  .form-container {
    width: 80%;
    margin: 5em 3em 5em 4.5em;
  }
  
  .login-form-div {
    width: 55%;
  }
  
  .form-div {
    width: 80%;
  }
  
  .navbar-list-items p{
    padding: 1.8em 1.2em 0 1em;
  }
  
  
  .main-content-statement {
    margin-left: 2em;
  }
  
  .features-intro {
    width: 85%;
    margin: 3em auto 5em;
  }
  
  .feature-illustration {
    display: grid;
    grid-template-columns: 90%;
    margin-bottom: 8em;
  }
  
  .feature-illustration-details {
    margin-left: 5em;
    margin-right: 1em;
    padding-bottom: 1em;
    margin-bottom: .8em;
  }
  
  .feature-illustration-details img {
    height: 16em;
  }
  
  .admin-form-div {
    width: 60%;
    padding: 4em 4em;
  }
  
  .admin-form-container {
    width: 100%;
  }
  
  .admin-signup-footer {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-fixed-header {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .main-content > header {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 32em;
  }
  
  .main-content-statement {
    margin-top: 2.5em;
  }
  
  .features-intro {
    width: 70%;
    margin: 6em auto 5em;
  }
  
  .feature-illustration {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5em;
  }
  
  .feature-illustration-details {
    margin-bottom: 2.5em;
  }
  
  .feature-illustration-details img {
    height: 17em;
  }
  
  .inbox {
    display: grid;
    grid-template-columns: 15% 84%;
    height: fit-content;
  }
  
  .icon {
    display: inline-block;
    margin: 0em 0.3em 0em .4em;
  }
  
  .number-of-mails {
    margin-left: 17%;
  }
  
  .inbox-menu-items {
    padding: .4em 0;
  }
  
  tr.data td:nth-of-type(1) {
    width: 25%;
  }
  
  tr.data td:nth-of-type(2) {
    width: 60%;
  }
  
  tr.data td:nth-of-type(3) {
    width: 15%;
  }
 
}