*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}

h1 {
  font-weight: 300;
  margin-bottom: 1em;
}


/** Index Page styling **/
.container {
  width: 100%;
  position: absolute;
}

.container-fixed-header {
  position: fixed;
  height: 4.2em;
  width: 100%;
  padding: 0 1em .8em 1em;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 65% 35%;
}

.logo-elements {
  margin-top: 1.1em;
  margin-left: .2em;
}

.logo-elements p{
  display: inline-block;
  margin-left: .2em;
  transform: translateY(-30%);
  font-size: 1.5em;
  color: dodgerblue;
}

.navbar-list-items {
  list-style-type: none;
  display: inline-block;
  top: 0;
  min-height: 5em;
}

.navbar-list a:hover {
  color: #4c9cdc;
}

.navbar-list a {
  color: black;
}

.navbar-list-items p {
  font-size: 1em;
  text-transform: uppercase;
  padding: 1.8em 1.3em 0 1.3em;
}

.navbar-list a:nth-of-type(3) li {
  background-color: #4c9cdc;
}

.navbar-list a:nth-child(3) p {
  color: white;
}

.main-content {
  width: 100%;
  margin-top: 5em;
}

a {
  text-decoration: none;
}

.main-content > header {
  background-image: url('../images/computer-3368242_1920.jpg');
  height: 73em;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 40% 60%;
}

.main-content-statement {
  margin: 13em 0 0 5em;
  color: white;
}

.main-content-statement h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.create-account {
  background-color: #4c9cdc;
  height: 5em;
  width: fit-content;
}

.create-account p {
  font-size: 1em;
  padding: 1.8em;
  text-transform: uppercase;
  color: white;
}

.features-intro {
  width: 50%;
  margin: 8em auto 5em;
  text-align: center;
}

.features-intro h1 {
  font-size: 2.7em;
}

.features-intro p {
  margin: 0 3em;
}

.feature-illustration {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin-bottom: 5em;
}

.feature-illustration-details {
  margin-left: 3em;
  margin-right: 1em;
  border: .04em solid grey;
  border-radius: .7em .7em .3em .3em;
  text-align: center;
  padding-bottom: 1em;
}

.feature-illustration-details img {
  width: 99.8%;
  height: 13em;
  border-radius: .7em .7em 0 0;
  margin-bottom: 1.2em;
}

.feature-illustration-details p.title {
  font-size: 1.5em;
}

.feature-illustration-details p.details {
  padding: 1em 1.5em;
}

.copyright{
  text-align: center;
  font-size: 1em;
}

/** Index Page styling ends **/

/** Sign Up Page styling **/

.form-container {
  width: 60%;
  margin: 5em auto;
  
}

.form-div {
  width: 65%;
  margin: 0 auto;
  border: .05em solid lightgray;
  border-radius: .5em;
  padding: 2em;
}

.full-form-elements input[type="text"], .full-form-elements input[type="password"] {
  width: 91%;
}

.double-form-elements {
  display: grid;
}

.text {
  grid-template-columns: 50% 50%;
}

.password {
  grid-template-columns: 40% 40% 20%;
}

.show {
  display: inline-block;
  margin-top: 1.3em;
  color: #4c9cdc;
  font-weight: 500;
}

.form-element input[type="text"], .form-element input[type="password"]{
  height: 1.6em;
  margin: 1em 1em 1em 0;
  border: .05em solid lightgrey;
  border-radius: .3em;
  padding: .5em 1em;
}

.button {
  height: 3em;
  color: white;
  background: #4c9cdc;
  width: fit-content;
  height: fit-content;
  padding: .7em 1.7em;
  border-radius: .3em;
  margin-top: 1.7em;
  cursor: pointer;
}

.form-bottom-links {
  display: grid;
  grid-template-columns: 50% 50%;
}

.submit-link {
  justify-self: end;
}

.signin-link a {
  display: inline-block;
  color: #4c9cdc;
  margin-top: 2.5em;
  font-size: .99em;
  justify-self: start;
}

.form-image img {
  width: 100%;
  height: 50vh;
  margin-left: 1em
}

.signup-footer {
  margin-left: 12em;
  margin-top: 2em;
  font-size: .8em;
  display: grid;
  grid-template-columns: 50% 50%;
}

.language {
  justify-self: start;
  
}

.footer-lihk {
  justify-self: end;
}
/** Sign Up Page styling ends **/

/** Sign in Page **/

.login-form-div {
  width: 50%;
  margin: 0 auto;
  border: .05em solid lightgray;
  border-radius: .5em;
  padding: 2em;
}

.login-form-title {
  text-align: center;
}

.login-password-show {
  float: right;
  margin-right: .5em;
  color: #4c9cdc;
  font-weight: 500;
}

.login-password-forgot {
  float: left;
  margin-right: .5em;
  color: #4c9cdc;
  font-weight: 500;
}

.clearfix {
  clear: both;
}

/** Sign in Page ends **/